body {
    background: white;
}

header {
    background-color: #333333;
    padding: 50px;
    position: sticky;
    top: 0;
}

/* main container */
.mothership {
    top: 50px;
    max-width: 1250px;
    margin: 0 auto;
}

.container1 .my_header {
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background: skyblue;
    padding: 20px;
    transition: 0.5s;
    position: sticky;
    top: 62px;
    text-space: 10px;

    font-family: 'Quicksand', sans-serif;

}

/*make custom button with hover and transition for logout*/
button {
    background-color: #5cafc6;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 20px;
    margin: 8px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
}
button:hover {
    background-color: #a4c4d1;
    color: #064e61;
}

.wrapper1 {
    display: flex;
}

.container1 aside {
    width: 30%;
    margin: 35px 50px;
}

.container1 aside .sidebar1 {
    padding: 5px 50px;
    position: sticky;
    top: 200px;
}

.container1 aside .sidebar1 h4 {
    padding: 0 10px;
    text-align: justify;
}


.container1 aside .sidebar1 ul {
    list-style: none;
    padding-bottom: 50px;
}


.container1 aside .sidebar1 ul li {
    display: flex;
}


.container1 aside .sidebar1 ul a li {
    display: flex;
    text-decoration: none;
    color: black; /*text color*/
    font-weight: bolder;
    padding: 10px;
    margin: 15px;
}

.container1 aside .sidebar1 ul li.active {
    background-color: skyblue;
    transition: 0.3s ease background-color;
}

.container1 aside .sidebar1 ul a li.active {
    color: rgb(255, 255, 255);
}

.sidebar1 li:hover {
    transition: 0.5s all;
    background-color: pink;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    cursor: pointer;
}

.container1 .main-body-chapter {
    width: 70%;
    padding: 0 35px;
    margin: 80px 0;
    min-height: 1800px;
    text-align: justify;
}

#theory {
}

#theory h4, #exercises h4 {
    background-color: darkseagreen;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 2px;
}


#theory h5, #exercises h5 {
    background-color: #fff7f8;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 2px;
    font-size: 16px;
    letter-spacing: 1px;
    padding-left: 20px;
}

#exercises h6 {
    padding-left: 10px;
    text-decoration-line: underline;
    font-size: 14px;
    letter-spacing: 1px;
}

#exercises .paradeigmata {
    padding-left: 50px

}

.content-table-antim-proset {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table-antim-proset thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table-antim-proset th,
.content-table-antim-proset td {
    padding: 12px 15px;
}

.content-table-antim-proset tbody tr {
    border-bottom: 1px solid #dddddd;
}


#exercises {
    /*background-color: pink;*/
}

#tests {
    /*background-color: blue; */
}

section {
    scroll-margin-top: 170px;
}

/* Slide button styling */
.center .slide {
    display: block;
    margin:30px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 30px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.center .slide i {
    opacity: 0;
    font-size: 13px;
    transition: 0.2s;
    position: absolute;
    right: 10px;
    top: 21px;
}

.center .slide div {
    transition: transform 0.8s;
}

.center .slide:hover .previous {
    transform: translateX(-6px);
}

.center .slide:hover .next {
    transform: translateX(+6px);
}

.center .slide::after {
    content: "";
    background-color: #dcbaff;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
}

.center .slide:hover i {
    opacity: 1;
    transform: translateX(-6px);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/* End of Slide Button  */

@media (max-width: 868px) {
    .my_header {
        visibility: hidden;
    }

    aside {
        width: 0%;
    }
    .sidebar1 {
        display: none;
        width: 0%;
        overflow: hidden;
    }

    .container1 .main-body-chapter {
        text-align: justify;
        overflow: auto;
        width: 100%;
        margin: -30px 0;
    }

    .wrapper1 {
        display: block;
    }

}