body {
    background: #f1f1f1;
}

header {
    background-color: #333333;
    padding: 50px;
    position: sticky;
    top: 0;
}

.mothership {
    top: 50px;
    max-width: 1250px;
    margin: 0 auto;
}

.container1 .my_header {
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background: skyblue;
    padding: 20px;
    transition: 0.5s;
    position: sticky;
    top: 62px;
    text-space: 10px;

    font-family: 'Quicksand', sans-serif;

}

/*
.container1 .my_header2 {

    text-decoration: none;
    background: #f1f1f1;
    padding: 0px;
    transition: 0.5s;
    position: sticky;
    top: 140px;
}
*/

.wrapper1 {
    display: flex;
}

.container1 aside {
    width: 30%;
    margin: 35px 0;
}

.container1 aside .sidebar1 {
    padding: 5px 50px;
    position: sticky;
    top: 300px;
}

.container1 aside .sidebar1 h4 {
    padding: 0 50px;
    text-align: justify;
}

.container1 .main-body-chapter {
    width: 70%;
    padding: 0 35px;
    margin: 170px 0;
    min-height: 1800px;
    text-align: justify;
}


#theory {
    background-color: red;
}

#exercises {
    background-color: pink;
}

#tests {
    background-color: blue;
}

.container1 aside .sidebar1 ul {
    list-style: none;
    padding-bottom: 50px;
}


.container1 aside .sidebar1 ul li {
    display: flex;
}


.container1 aside .sidebar1 ul li a {
    display: flex;
    text-decoration: none;
    padding: 2px -1px;
    color: black; /*text color*/
    font-weight: bolder;
}

.container1 aside .sidebar1 ul li.active {
    background-color: skyblue;
    transition: 0.3s ease background-color;
}

.container1 aside .sidebar1 ul li.active a {
    color: rgb(255, 255, 255);
}

section {
    scroll-margin-top: 170px;
}