.banner-area1{
    background: url("../assets/header_mainpage.jpg") no-repeat;
    height: 66px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner-area1 h2 {
    position: center;
    padding: 250px;
    font-size: 70px;
    text-transform: uppercase;
    color: #fff;
}

.content-area {
    /*background-color: red;*/
    overflow: hidden;
    min-height: 500px;
}

.content-area .sidebar {
    background-color: #F8F8F8;
    width: 400px;
    height: 400px;
    float: left;
    min-height: 300px;
    position: fixed;
}

.content-area .sidebar .wrapper {
    /*background-color: lawngreen;*/
    margin: auto;
    padding: 20px 50px 20px 50px;
    height: 50vh;    position: fixed;

}

.content-area .sidebar .wrapper h4 {
    padding: 0px 30px;
    text-align: justify;
}


.content-area .column2 {
    height: 100vh;
    background-color: grey;
    min-height: 1200px;
    margin-left: 400px;
    margin-top: 1px;
    /*make the container grid*/
    display: grid;


    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /*1 fraction of the total remaining space*/
    /* repeat(3, 1fr); */
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns:  minmax(0,1fr) 200px;
    /*
    grid-template: 50px 1fr 1fr 100px / repeat(3, 1fr);
    */

    gap: 10px; /* for the edges use padding and boxsize? */
    padding: 100px 30px;
    box-sizing: border-box;
}
.content-area .column2 div {

    padding: 10px;
    border: 1px solid black;

}


.content-area .column2 .container {
    background-color: deeppink;

    width: 70vw;
    font-family: 'Quicksand', sans-serif;
    font-width: bold;
    font-size: 20px;


    display: grid;

    grid-template: 50px 1fr 50px / repeat(1,1fr);

    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}