@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
    font-weight: 300;
    text-align: center;
    background-color: #f8f6f0;
}
h1{
    font-weight: 300;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    background-color: #444;
    color: #fff;
}
.question{
    font-size: 30px;
    margin-bottom: 10px;
}
.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}
.answers label{
    display: block;
    margin-bottom: 10px;
}
button{
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-top: 65px;
    margin-bottom: 20px;
}
.button1{
    margin-top: 40px;
    background-color: lightcoral;
    display: none;
}
.button1:hover{
    background-color: #eca0a0;
}
button:hover{
    background-color: #38a;
}

/*~~~~~~~~~~~Pop up start~~~~~~~~~~~*/

/* Popup container */
.popup {
    position: absolute;
    display: inline-block;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    height: 200px;
    width: 350px;
    background-color: #00865c;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute ;
    z-index: 1;
    bottom: 125%;
    margin-left: -180px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s
}
.popup .hide {
    visibility: hidden;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/*~~~~~~~~~~~Pop up end~~~~~~~~~~~*/

.slide{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}
.active-slide{
    opacity: 1;
    z-index: 2;
}
.quiz-container{
    position: sticky;
    height: 200px;
    margin-top: 40px;
}
